#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0rem;
  height: 100%; /* Ensure the root takes full height */
}

html, body {
  height: 100%; /* Ensure the body takes full height */
  margin: 0;    /* Remove default margin */
}

.app-container {
  display: flex; /* Use flexbox layout */
  flex-direction: column; /* Stack children vertically */
  min-height: 100vh; /* Minimum height of 100% of the viewport */
}

.main-content {
  flex: 1; /* This will grow to fill available space */
  display: flex; /* Flexbox for the main content */
  flex-direction: column; /* Stack children vertically */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.customColor{
  background-color: aqua;
}



@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.customColor2{
  color: aquamarine;
}

.navbar {
  width: 100%; /* Ensure the navbar takes the full width */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional shadow effect */
}

.footer {
  background-color: #f8f9fa; /* Background color for footer */
  padding: 20px; /* Padding around footer */
  text-align: center; /* Center text */
  width: 100%;
  position: relative; /* Position it at the bottom */
  bottom: 0; /* Align it to the bottom */
  left: 0; /* Ensure it stretches across the entire width */
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Optional shadow */
}